html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

@import "tables";

/* Featured Image */
.header-image {
	height: 600px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 75px auto;
}




/* Homepage Post Styling */
/* Featured Post */
.featured-post {
	margin: 0 0 20px 0;
	@include card-shadow {}

	header {
		line-height: 0;
		background: $color__card-background;
	}

	header img {
		width: 100%;
		height: auto;
	}
	.hentry {
		margin: 0;
	}
	.entry-content {
		background: $color__card-background;
		margin: 0;
		padding: 30px;

		.category{
			font-size: .7em;
			display: inline-block;
			text-transform: uppercase;
			margin: 0 10px 0 0;

			li {
				display: inline-block;
			}

			li:after {
				content: " | ";
				margin: 0 5px;
			}

			li:nth-child(3):after {
				content: none;
			}

			li:nth-child(n+4) {
				display: none;
			}

			a, a:visited {
				color: $color__link;
				text-decoration: none;
			}

			a:hover {
				color: $color__link-hover;
			}
		}
	}

	.entry-meta {
		font-size: .6em;
		color: #666;
		text-transform: uppercase;
		display: inline-block;

		a, a:visited {
			color: $color__link;
			text-decoration: none;
		}

		a:hover {
			color: $color__link-hover;
		}
	}
}

/* Regular Post */
.regular-post {
	@include card-shadow {}
	display: table;
	width: 100%;
	margin: 0 0 20px 0;

	header {
		margin: 0;
		vertical-align: top;
		display: table-cell;
		line-height: 0;
		background: $color__card-background;

		img {
			margin: 0;
			max-width: 300px;
		}
	}
	.hentry {
		margin: 0;
	}

	.entry-content {
		background: $color__card-background;
		display: table-cell;
		padding: 20px;

		.entry-title {
			margin: 10px 0;
		}

		p {
			margin: 0;
		}

		.category {
			font-size: .7em;
			display: inline-block;
			text-transform: uppercase;
			margin: 0 10px 0 0;

			li {
				display: inline-block;
			}

			li:after {
				content: " | ";
				margin: 0 5px;
			}

			li:nth-child(3):after {
				content: none;
			}

			li:nth-child(n+4) {
				display: none;
			}

			a, a:visited {
				color: $color__link;
				text-decoration: none;
			}

			a:hover {
				color: $color__link-hover;
			}
		}

		.entry-meta {
			font-size: .6em;
			color: #666;
			text-transform: uppercase;
			display: inline-block;

			a, a:visited {
				color: $color__link;
				text-decoration: none;
			}

			a:hover {
				color: $color__link-hover;
			}
		}
	}
}
